@charset "UTF-8";
/* CSS Document */

html, body{
	margin:0px;
	background:url('../img/symphony.png') repeat;
	/* Background image from http://subtlepatterns.com/ */
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	color:DimGray;
}
/* top section */
#wrapper{
	margin-top:150px;
}

h1{
	color:tomato;
}


h1.name{
	border:10px solid tomato;
	padding:30px;
	display:inline;
}

h2{
	color:Salmon;
}

h2.title{
	margin-top: 40px;
    padding: 30px;
}

/* Middle section */
.linebreak{
	border: 1px solid grey;
    margin: 30px auto;
    width: 50%;
}

a.email{
	color:DarkSeaGreen;
	text-decoration:none;
}
.phone-number{
	color:DarkSeaGreen;
}

/* bottom section */
/* -------------- Quote Styles ------------*/
.quote{
	font-style:italic;
	font-size:20px;
	margin-top:50px;
	line-height:30px;
}


